body {
    background: pink;
}

.page {
    width: 600px;
    padding: 50px 50px;
    margin: 50px auto;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .container {
    width: 500px;
    height: 500px;
    /* display:block; margin:auto => centers this horizontally, when using position relative */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    animation-name: float; /* NEW */ 
    animation-duration: 5s; /* NEW */
    animation-iteration-count: infinite; /* NEW */
    animation-timing-function: ease; /* NEW */
  }

  .egg-float {
    width: 350px;
    height: 10px;
    border-radius: 50%;
    background-color: #868679;
    position: relative;
    top: 330px;
    left: -150px;
  }

  @keyframes float {
    0%, 100% {
      top: 80px;
    }
  
    50% {
      top: 70px;
    }
  }

  .egg {
    position: absolute;
    top: 12%;
    width: 70%; /* 380px*/
    height: 50%; /* 230px*/
    /*  Temporary background to check we're sized and centered OK!  */
    background: white;
    border-radius: 50% 50% 50% 50% / 47% 92% 45% 59%;
  }

  .yolk {
      position: absolute;
      top: 30%;
      left: 34%;
      width: 54%;
      height: 54%;
      background: #ffa500; /* #ffa500 => orange */  /* #fff450 => yellow */
      border-radius: 50%;
  }

  .eye-left{
      position: absolute;
      background: #3c2f2f;
      width: 5%;
      height: 7%;
      top: 46%;
      left: 46%;
      border-radius: 50%;
      z-index: 3;
  }

  .eye-right{
    position: absolute;
    background: #3c2f2f;
    width: 5%;
    height: 7%;
    top: 46%;
    right: 25%;
    border-radius: 50%;
    z-index: 2;
}

.mouth {
    position: absolute;
    /* background: #3c2f2f; */
    top: 60%;
    left: 54%;
    width: 12%;
    height: 8%;
    border-radius: 0 0 80px 80px; /* border-radius: 0 0 125px 125px; */
    border-bottom: 5px solid #3c2f2f; /* dark outline */
    border-right: 5px solid #3c2f2f; /* dark outline */
    border-left: 5px solid #3c2f2f; /* dark outline */
    z-index: 4;
  }

  
