body {
    background: pink;
}

.page {
    width: 600px;
    padding: 50px 50px;
    margin: 50px auto;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .container {
    width: 500px;
    height: 500px;
    /* display:block; margin:auto => centers this horizontally, when using position relative */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
  }

  .egg {
    position: absolute;
    top: 12%;
    width: 70%; /* 380px*/
    height: 50%; /* 230px*/
    /*  Temporary background to check we're sized and centered OK!  */
    background: white;
    border-radius: 50% 50% 50% 50% / 47% 92% 45% 59%;
  }

  .yolk {
      position: absolute;
      top: 30%;
      left: 34%;
      width: 54%;
      height: 54%;
      background:yellow;
      border-radius: 50%;
  }
